Repository ai-screams/BoltDown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{css,json}": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "src-tauri/src/**/*.rs": [
    "cargo fmt --manifest-path src-tauri/Cargo.toml --"
  ]
}

ci: complete CI/CD pipeline with release-please + tauri-action (#36)
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
  .github/workflows/quality-lint.yaml
  .github/workflows/quality-test.yaml
  .github/workflows/release-please.yaml
  .github/workflows/security-scan.yaml
  .node-version
  .release-please-manifest.json
  AGENTS.md
  MEMORY.md
  README.md
  commitlint.config.js
  package.json
  release-please-config.json
  src-tauri/AGENTS.md
  src-tauri/Cargo.toml
  src-tauri/rust-toolchain.toml
  src-tauri/src/commands/ime.rs
  src-tauri/src/error.rs
  src-tauri/tauri.conf.json
Due: prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

docs: add 25 shields.io badges with dynamic version, CI status, and repo stats
  README.md
Due: prettier --write

docs: add CONTRIBUTING.md and link from README
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs: add macOS Gatekeeper and Windows SmartScreen workarounds to Install section
  README.md
Due: prettier --write

chore(deps): batch update safe dependencies
  package-lock.json
  package.json
Due: none

feat(deps): migrate Tailwind CSS v3 → v4
  package-lock.json
  package.json
  postcss.config.js
  src/components/about/AboutModal.tsx
  src/components/about/ChangelogModal.tsx
  src/components/common/IconButton.tsx
  src/components/editor/EditorToolbar.tsx
  src/components/editor/TabBar.tsx
  src/components/editor/extensions/theme.ts
  src/components/findreplace/FindReplaceModal.tsx
  src/components/layout/Header.tsx
  src/components/preview/MarkdownPreview.tsx
  src/components/settings/SettingsModal.tsx
  src/components/shortcuts/ShortcutsModal.tsx
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/OutlinePanel.tsx
  src/components/sidebar/Sidebar.tsx
  src/index.css
  src/styles/codeblock.css
  src/types/AGENTS.md
  src/types/sidebar.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

style: fix prettier formatting for tailwindcss v4 class ordering
  src/components/common/ErrorBoundary.tsx
  src/components/layout/Footer.tsx
  src/components/layout/MainLayout.tsx
  src/components/sidebar/FileTree.tsx
  src/components/sidebar/RecentFiles.tsx
  src/components/sidebar/ResizeHandle.tsx
Due: eslint --fix, prettier --write

chore(deps): batch dependency updates and Tailwind CSS v4 migration (#49)
  package-lock.json
  package.json
  postcss.config.js
  src/components/about/AboutModal.tsx
  src/components/about/ChangelogModal.tsx
  src/components/common/ErrorBoundary.tsx
  src/components/common/IconButton.tsx
  src/components/editor/EditorToolbar.tsx
  src/components/editor/TabBar.tsx
  src/components/editor/extensions/theme.ts
  src/components/findreplace/FindReplaceModal.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/MainLayout.tsx
  src/components/preview/MarkdownPreview.tsx
  src/components/settings/SettingsModal.tsx
  src/components/shortcuts/ShortcutsModal.tsx
  src/components/sidebar/FileTree.tsx
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/OutlinePanel.tsx
  src/components/sidebar/RecentFiles.tsx
  src/components/sidebar/ResizeHandle.tsx
  src/components/sidebar/Sidebar.tsx
  src/index.css
  src/styles/codeblock.css
  src/types/AGENTS.md
  src/types/sidebar.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

feat(tauri): add auto-updater with Tauri v2 updater plugin
  .github/workflows/release-please.yaml
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/settings/SettingsModal.tsx
  src/components/update/UpdateNotification.tsx
  src/constants/settingsLimits.ts
  src/hooks/useAutoUpdate.ts
  src/types/settings.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

docs: update AGENTS.md with auto-updater architecture
  AGENTS.md
  src-tauri/AGENTS.md
Due: prettier --write

style: fix prettier formatting for tailwindcss v4 compatibility
  package-lock.json
  src/components/settings/SettingsModal.tsx
  src/components/update/UpdateNotification.tsx
Due: eslint --fix, prettier --write

feat(tauri): add auto-updater with Tauri v2 updater plugin (#40)
  .github/workflows/release-please.yaml
  AGENTS.md
  package-lock.json
  package.json
  src-tauri/AGENTS.md
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/settings/SettingsModal.tsx
  src/components/update/UpdateNotification.tsx
  src/constants/settingsLimits.ts
  src/hooks/useAutoUpdate.ts
  src/types/settings.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

fix(tauri): regenerate signing key pair for CI builds
  src-tauri/tauri.conf.json
Due: none

fix(tauri): update signing key with password-protected key pair
  src-tauri/tauri.conf.json
Due: none
