Repository ai-screams/BoltDown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{css,json}": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "src-tauri/src/**/*.rs": [
    "cargo fmt --manifest-path src-tauri/Cargo.toml --"
  ]
}

feat(editor): add Find & Replace with CM6 integration and keyboard navigation
  src/App.tsx
  src/components/editor/MarkdownEditor.tsx
  src/components/findreplace/FindReplaceModal.tsx
  src/index.css
  src/stores/findReplaceStore.ts
Due: eslint --fix, prettier --write

feat(editor): add auto-save with debounced timer and window blur trigger
  src/App.tsx
  src/hooks/useAutoSave.ts
Due: eslint --fix, prettier --write

docs: update AGENTS.md files for Find & Replace feature
  AGENTS.md
  src/AGENTS.md
  src/components/AGENTS.md
  src/components/editor/AGENTS.md
  src/components/findreplace/AGENTS.md
  src/contexts/AGENTS.md
  src/stores/AGENTS.md
Due: prettier --write

fix(editor): rewrite Typewriter Mode for reliable scroll centering
  src/components/editor/extensions/typewriter.ts
Due: eslint --fix, prettier --write

fix(editor): add scrollPastEnd and jitter guard to Typewriter Mode
  src/components/editor/extensions/typewriter.ts
Due: eslint --fix, prettier --write

fix(ui): fix OutlinePanel layout so Open Folder stays pinned at bottom
  src/components/sidebar/OutlinePanel.tsx
Due: eslint --fix, prettier --write

feat: add Outline Panel, TOC generation, File Delete and Duplicate
  src-tauri/src/main.rs
  src/components/sidebar/FileTree.tsx
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/OutlinePanel.tsx
  src/components/sidebar/Sidebar.tsx
  src/hooks/useFileSystem.ts
  src/hooks/useOutline.ts
  src/index.css
  src/types/sidebar.ts
  src/utils/markdownConfig.ts
  src/utils/tocPlugin.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

fix(file): auto-load parent directory on file open and consolidate logic
  docs/polish-backlog.md
  src/App.tsx
  src/hooks/useFileSystem.ts
  src/stores/sidebarStore.ts
Due: eslint --fix, prettier --write

fix(editor): improve zen rich block stability
  src/components/editor/extensions/wysiwyg.ts
  src/components/layout/Footer.tsx
  src/utils/markdownConfig.ts
Due: eslint --fix, prettier --write

docs: update AGENTS.md files for Sprint B features and file icons
  AGENTS.md
  docs/polish-backlog.md
  src-tauri/AGENTS.md
  src/hooks/AGENTS.md
Due: prettier --write

feat(ui): add Zen Mode and enhance Footer with line count stats
  src/App.tsx
  src/components/layout/Footer.tsx
  src/index.css
Due: eslint --fix, prettier --write

feat(ui): add VS Code file icons and sync sidebar with active tab
  package-lock.json
  package.json
  src/App.tsx
  src/components/sidebar/FileTree.tsx
  src/components/sidebar/FileTreeNode.tsx
Due: eslint --fix, prettier --write

feat(editor): unify active line highlight across modes
  src/components/editor/extensions/theme.ts
  src/components/editor/extensions/typewriter.ts
Due: eslint --fix, prettier --write

fix(editor): renumber ordered list on tab indent
  src/components/editor/MarkdownEditor.tsx
Due: eslint --fix, prettier --write

fix(editor): highlight active line in typewriter mode
  src/components/editor/extensions/typewriter.ts
Due: eslint --fix, prettier --write

fix(editor): stabilize zen cursor mapping around rich widgets
  src/components/editor/extensions/wysiwyg.ts
Due: eslint --fix, prettier --write

fix(editor): avoid drag jitter in typewriter mode
  src/components/editor/extensions/typewriter.ts
Due: eslint --fix, prettier --write

feat(diagram): add strict mermaid default with loose opt-in
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/extensions/wysiwyg.ts
  src/components/preview/MarkdownPreview.tsx
  src/components/settings/SettingsModal.tsx
  src/types/settings.ts
Due: eslint --fix, prettier --write

fix(editor): make dropped images persist and render local paths
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/extensions/wysiwyg.ts
  src/components/preview/MarkdownPreview.tsx
  src/hooks/useFileSystem.ts
  src/utils/imagePath.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

fix(editor): use four-space nested list indent
  src/components/editor/MarkdownEditor.tsx
Due: eslint --fix, prettier --write

docs: sync AGENTS and memory with latest editor behavior
  AGENTS.md
  MEMORY.md
  src/AGENTS.md
  src/components/editor/AGENTS.md
  src/components/editor/extensions/AGENTS.md
  src/components/layout/AGENTS.md
  src/components/settings/AGENTS.md
  src/components/sidebar/AGENTS.md
  src/hooks/AGENTS.md
  src/stores/AGENTS.md
  src/types/AGENTS.md
  src/utils/AGENTS.md
Due: prettier --write

fix(editor): harden zen widget rendering and math scanning
  src/components/editor/extensions/wysiwyg.ts
Due: eslint --fix, prettier --write

fix(editor): abort image drop when user cancels save dialog
  src/components/editor/MarkdownEditor.tsx
Due: eslint --fix, prettier --write

feat(editor): add image drop and spellcheck settings
  MEMORY.md
  src/components/editor/MarkdownEditor.tsx
  src/components/settings/SettingsModal.tsx
  src/types/settings.ts
Due: eslint --fix, prettier --write

fix(editor): use absolute path for image drop on unsaved documents
  src/components/editor/MarkdownEditor.tsx
Due: eslint --fix, prettier --write

fix(tauri): harden image drop pipeline and IPC commands
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/editor/MarkdownEditor.tsx
  src/components/preview/MarkdownPreview.tsx
  src/utils/imagePath.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

fix(editor): use Tauri native drag-drop to get real file paths
  src-tauri/tauri.conf.json
  src/components/editor/MarkdownEditor.tsx
Due: eslint --fix, prettier --write

fix(ui): apply React best practices, composition patterns, and WIG compliance
  AGENTS.md
  index.html
  src/App.tsx
  src/components/common/ErrorBoundary.tsx
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/TabBar.tsx
  src/components/editor/editorUtils.ts
  src/components/editor/extensions/AGENTS.md
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/ResizeHandle.tsx
  src/contexts/EditorViewContext.tsx
  src/hooks/useDocumentStats.ts
  src/hooks/useKeyboardShortcuts.ts
  src/index.css
  src/stores/sidebarStore.ts
  src/types/AGENTS.md
  src/utils/AGENTS.md
Due: eslint --fix, prettier --write

fix(ui): improve keyboard safety and accessibility semantics
  src/App.tsx
  src/components/common/IconButton.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/sidebar/FileTree.tsx
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/OutlinePanel.tsx
  src/components/sidebar/Sidebar.tsx
  src/contexts/EditorViewContext.tsx
  src/main.tsx
Due: eslint --fix, prettier --write

fix(editor): stabilize dynamic extensions and async preview updates
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/extensions/focus.ts
  src/components/editor/extensions/theme.ts
  src/components/findreplace/FindReplaceModal.tsx
  src/components/preview/MarkdownPreview.tsx
Due: eslint --fix, prettier --write

fix(tauri): enforce safer filesystem and runtime defaults
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

refactor(file): centralize shared markdown and storage utilities
  src/constants/welcomeContent.ts
  src/hooks/useAutoSave.ts
  src/hooks/useExport.ts
  src/hooks/useFileSystem.ts
  src/hooks/useOutline.ts
  src/stores/findReplaceStore.ts
  src/stores/settingsStore.ts
  src/stores/sidebarStore.ts
  src/stores/tabStore.ts
  src/utils/directoryLoader.ts
  src/utils/markdownConfig.ts
  src/utils/markdownText.ts
  src/utils/settingsStorage.ts
  src/utils/tauri.ts
  src/utils/tocPlugin.ts
Due: eslint --fix, prettier --write

style(config): add eslint-plugin-perfectionist and enforce JSX prop ordering
  eslint.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/components/common/ErrorBoundary.tsx
  src/components/common/IconButton.tsx
  src/components/editor/TabBar.tsx
  src/components/findreplace/FindReplaceModal.tsx
  src/components/layout/Header.tsx
  src/components/layout/MainLayout.tsx
  src/components/settings/SettingsModal.tsx
  src/components/sidebar/FileTree.tsx
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/OutlinePanel.tsx
  src/components/sidebar/RecentFiles.tsx
  src/components/sidebar/ResizeHandle.tsx
  src/components/sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix(ui): use functional setState and add unmount cleanup in custom CSS
  src/components/settings/SettingsModal.tsx
  src/hooks/useCustomCss.ts
Due: eslint --fix, prettier --write

refactor(ui): replace hardcoded colors with semantic theme tokens
  src/components/common/ErrorBoundary.tsx
  src/components/common/IconButton.tsx
  src/components/editor/EditorToolbar.tsx
  src/components/editor/TabBar.tsx
  src/components/findreplace/FindReplaceModal.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/MainLayout.tsx
  src/components/preview/MarkdownPreview.tsx
  src/components/settings/SettingsModal.tsx
  src/components/sidebar/FileTree.tsx
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/OutlinePanel.tsx
  src/components/sidebar/RecentFiles.tsx
  src/components/sidebar/Sidebar.tsx
  src/constants/theme.ts
  src/styles/tokens.css
  tailwind.config.js
Due: eslint --fix, prettier --write

chore(config): add incremental no-magic-numbers lint policy
  eslint.config.js
Due: none

feat(ui): add custom CSS injection with in-app reference panel
  src/App.tsx
  src/components/settings/SettingsModal.tsx
  src/constants/settingsLimits.ts
  src/hooks/useCustomCss.ts
  src/stores/settingsStore.ts
  src/types/settings.ts
Due: eslint --fix, prettier --write

feat(ui): add meadow and vivid theme presets
  src/constants/theme.ts
  src/styles/tokens.css
Due: eslint --fix, prettier --write

feat(editor): add Typora-style WYSIWYG editing with audit fixes
  src/components/editor/extensions/wysiwyg.ts
Due: eslint --fix, prettier --write

feat(ui): add theme preset system with sepia, nord, and high-contrast themes
  src/components/layout/Header.tsx
  src/components/settings/SettingsModal.tsx
  src/constants/theme.ts
  src/hooks/useExport.ts
  src/stores/settingsStore.ts
  src/styles/tokens.css
  src/types/settings.ts
Due: eslint --fix, prettier --write
