Repository ai-screams/BoltDown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{css,json}": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "src-tauri/src/**/*.rs": [
    "cargo fmt --manifest-path src-tauri/Cargo.toml --"
  ]
}

ci: setup CI/CD pipeline with lint, CVE scanning, secret detection, and testing
  .docs/wiki/how-to/cicd-setup.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitleaksignore
  playwright.config.ts
  src/test/setup.ts
  tests/e2e/example.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(config): add package-lock.json for GitHub Actions cache
  .gitignore
  package-lock.json
Due: none

fix(ci): remove Gitleaks and add ci scope
  .github/workflows/ci.yml
  commitlint.config.js
Due: none

fix(ci): remove clippy from Lint job
  .github/workflows/ci.yml
Due: none

fix(ci): add Linux dependencies for Rust test job
  .github/workflows/ci.yml
Due: none

fix(ci): ignore major version updates for ESLint and commitlint
  .github/dependabot.yml
Due: none

perf(ci): build Ubuntu only during test phase
  .github/workflows/ci.yml
Due: none

refactor(ci): split monolithic ci.yml into reusable workflows
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
  .github/workflows/ci.yml
  .github/workflows/quality-lint.yaml
  .github/workflows/quality-test.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/security-weekly.yaml
Due: none

chore(deps): bump vite 5→7, @vitejs/plugin-react 4→5
  package-lock.json
Due: none

chore(deps): bump react 18→19, @types/react 19
  package-lock.json
Due: none

chore(deps): trigger dependabot re-scan after CI stabilization
  .github/dependabot.yml
Due: none

chore(deps): remove eslint/commitlint major version ignore rules
  .github/dependabot.yml
Due: none

feat: implement Phase 1 MVP — 3-mode markdown editor
  eslint.config.js
  src/App.tsx
  src/components/common/IconButton.tsx
  src/components/editor/EditorToolbar.tsx
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/extensions/markdown.ts
  src/components/editor/extensions/theme.ts
  src/components/editor/extensions/wysiwyg.ts
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/MainLayout.tsx
  src/components/preview/MarkdownPreview.tsx
  src/hooks/useExport.ts
  src/hooks/useFileSystem.ts
  src/hooks/useMarkdownParser.ts
  src/hooks/useTheme.ts
  src/index.css
  src/stores/editorStore.ts
  src/types/editor.ts
  src/utils/markdownConfig.ts
  src/utils/tauri.ts
Due: eslint --fix, prettier --write

perf: push Zustand selectors to leaf components, eliminate keystroke cascade
  src/App.tsx
  src/components/editor/MarkdownEditor.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/MainLayout.tsx
  src/components/preview/MarkdownPreview.tsx
  src/contexts/EditorViewContext.tsx
  src/stores/editorStore.ts
Due: eslint --fix, prettier --write

fix: toggle formatting markers instead of always adding them
  src/components/editor/EditorToolbar.tsx
Due: eslint --fix, prettier --write

feat: add draggable split pane divider with ratio adjustment
  eslint.config.js
  src/components/layout/MainLayout.tsx
Due: eslint --fix, prettier --write

feat: add file sidebar with tree view, multi-tab system, and audit fixes
  eslint.config.js
  package-lock.json
  package.json
  src-tauri/src/main.rs
  src/App.tsx
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/TabBar.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/preview/MarkdownPreview.tsx
  src/components/sidebar/FileTree.tsx
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/RecentFiles.tsx
  src/components/sidebar/ResizeHandle.tsx
  src/components/sidebar/Sidebar.tsx
  src/hooks/useExport.ts
  src/hooks/useFileSystem.ts
  src/stores/editorStore.ts
  src/stores/sidebarStore.ts
  src/stores/tabStore.ts
  src/types/editor.ts
  src/types/sidebar.ts
  src/utils/directoryLoader.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

refactor: move sidebar toggle to TabBar, fix tab width, rename WYSIWYG to Zen
  src/App.tsx
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/TabBar.tsx
  src/components/layout/Header.tsx
  src/types/editor.ts
Due: eslint --fix, prettier --write

fix(editor): prevent italic toggle from stripping bold markers
  AGENTS.md
  src-tauri/AGENTS.md
  src/AGENTS.md
  src/components/AGENTS.md
  src/components/common/AGENTS.md
  src/components/editor/AGENTS.md
  src/components/editor/EditorToolbar.tsx
  src/components/editor/extensions/AGENTS.md
  src/components/layout/AGENTS.md
  src/components/preview/AGENTS.md
  src/components/sidebar/AGENTS.md
  src/contexts/AGENTS.md
  src/hooks/AGENTS.md
  src/stores/AGENTS.md
  src/types/AGENTS.md
  src/utils/AGENTS.md
  tests/AGENTS.md
Due: eslint --fix, prettier --write

feat(ui): add welcome template showcasing all markdown features
  src/stores/tabStore.ts
Due: eslint --fix, prettier --write

refactor(ui): add hover/focus polish, remove redundant filename from Header
  src/components/common/IconButton.tsx
  src/components/editor/TabBar.tsx
  src/components/layout/Header.tsx
Due: eslint --fix, prettier --write

style(ui): add transitions, dropdown animation, and resize handle polish
  src/components/layout/Header.tsx
  src/components/layout/MainLayout.tsx
  src/components/sidebar/ResizeHandle.tsx
  src/components/sidebar/Sidebar.tsx
  src/index.css
Due: eslint --fix, prettier --write

fix(ui): use deep-blue link color in light mode for WCAG contrast
  src/index.css
Due: prettier --write

style(ui): tune heading line-height/tracking and footer tabular-nums
  src/components/layout/Footer.tsx
  src/index.css
Due: eslint --fix, prettier --write

feat(ui): add flash status feedback for save and export actions
  src/components/layout/Footer.tsx
  src/hooks/useExport.ts
  src/hooks/useFileSystem.ts
  src/stores/editorStore.ts
Due: eslint --fix, prettier --write

fix(ui): use toLocaleString for footer stats, fix browser save fallback
  src/components/layout/Footer.tsx
  src/hooks/useFileSystem.ts
Due: eslint --fix, prettier --write

fix(ui): convert useTheme to Zustand store for shared dark mode state
  src/hooks/useTheme.ts
Due: eslint --fix, prettier --write

fix(ui): add save error feedback, parallel mermaid render, file open warning
  src/App.tsx
  src/components/preview/MarkdownPreview.tsx
  src/hooks/useFileSystem.ts
Due: eslint --fix, prettier --write

fix(ui): add error logging to file I/O catch blocks
  src/App.tsx
  src/hooks/useFileSystem.ts
Due: eslint --fix, prettier --write

docs: update AGENTS.md files for Phase 1 completion
  AGENTS.md
  src/hooks/AGENTS.md
  src/stores/AGENTS.md
Due: prettier --write

feat(ui): add Settings System with 4-category modal and Tauri persistence
  src-tauri/src/main.rs
  src/App.tsx
  src/components/editor/MarkdownEditor.tsx
  src/components/layout/Header.tsx
  src/components/preview/MarkdownPreview.tsx
  src/components/settings/SettingsModal.tsx
  src/hooks/useTheme.ts
  src/index.css
  src/stores/settingsStore.ts
  src/types/settings.ts
  src/utils/settingsStorage.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

docs(ui): update AGENTS.md and project docs for Phase 2 Settings System
  AGENTS.md
  src-tauri/AGENTS.md
  src/AGENTS.md
  src/components/AGENTS.md
  src/components/editor/AGENTS.md
  src/components/layout/AGENTS.md
  src/components/preview/AGENTS.md
  src/components/settings/AGENTS.md
  src/hooks/AGENTS.md
  src/stores/AGENTS.md
  src/types/AGENTS.md
  src/utils/AGENTS.md
Due: prettier --write

fix(ui): allow keyboard typing in settings number inputs with real-time spinner
  src/components/settings/SettingsModal.tsx
Due: eslint --fix, prettier --write

fix(file): add Tauri 2.0 capabilities and fix file save in Tauri mode
  src-tauri/capabilities/default.json
  src/hooks/useFileSystem.ts
Due: eslint --fix, prettier --write

fix(ui): smooth sidebar resize and prevent scroll chaining
  src/App.tsx
  src/components/layout/MainLayout.tsx
  src/components/settings/SettingsModal.tsx
  src/components/sidebar/ResizeHandle.tsx
  src/components/sidebar/Sidebar.tsx
  src/index.css
  src/stores/sidebarStore.ts
Due: eslint --fix, prettier --write

fix(ui): prevent header/tab/toolbar from scrolling away with content
  src/App.tsx
  src/components/editor/EditorToolbar.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/MainLayout.tsx
Due: eslint --fix, prettier --write

docs: update AGENTS.md for Phase 2 settings and Tauri 2.0 ACL
  AGENTS.md
  src-tauri/AGENTS.md
  src/hooks/AGENTS.md
Due: prettier --write

feat(editor): add Focus Mode, Typewriter Mode, and Tab Rename
  src-tauri/src/main.rs
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/TabBar.tsx
  src/components/editor/extensions/focus.ts
  src/components/editor/extensions/typewriter.ts
  src/components/settings/SettingsModal.tsx
  src/index.css
  src/stores/tabStore.ts
  src/types/settings.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

docs: update component/store/hook AGENTS.md with resize and scroll fixes
  src/components/layout/AGENTS.md
  src/components/settings/AGENTS.md
  src/components/sidebar/AGENTS.md
  src/hooks/AGENTS.md
  src/stores/AGENTS.md
Due: prettier --write
