Repository ai-screams/BoltDown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{css,json}": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "src-tauri/src/**/*.rs": [
    "cargo fmt --manifest-path src-tauri/Cargo.toml --"
  ]
}

feat(editor): expand code block language list from 53 to 116 entries
  src/components/editor/extensions/wysiwyg/CodeBlockWidget.ts
Due: eslint --fix, prettier --write

fix(diagram): eliminate mermaid re-render flash in split mode
  src/components/preview/MarkdownPreview.tsx
  src/index.css
Due: eslint --fix, prettier --write

fix(editor): align live and split rendering for inline html and task lists
  src/components/editor/extensions/wysiwyg/TaskCheckboxWidget.ts
  src/components/editor/extensions/wysiwyg/buildDecorations.ts
  src/components/editor/extensions/wysiwyg/inlineHtmlDecorations.test.ts
  src/components/editor/extensions/wysiwyg/inlineHtmlDecorations.ts
  src/components/editor/extensions/wysiwyg/taskListDecorations.test.ts
  src/utils/markdownConfig.test.ts
  src/utils/markdownConfig.ts
Due: eslint --fix, prettier --write

fix(editor): harden split sync and render TOC in live mode
  src/components/editor/extensions/wysiwyg/TocWidget.ts
  src/components/editor/extensions/wysiwyg/buildDecorations.ts
  src/components/editor/extensions/wysiwyg/tocDecorations.test.ts
  src/hooks/useSplitScrollSync.ts
Due: eslint --fix, prettier --write

feat(editor): add live mode workflow and formatting command system
  MEMORY.md
  src/components/editor/EditorToolbar.tsx
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/formatCommands.ts
  src/components/layout/Header.tsx
  src/constants/shortcuts.ts
  src/constants/welcomeContent.ts
  src/hooks/useKeyboardShortcuts.ts
  src/index.css
  src/types/editor.ts
Due: eslint --fix, prettier --write

fix(editor): reveal only active inline math expression
  src/components/editor/extensions/wysiwyg/BlockMathWidget.ts
  src/components/editor/extensions/wysiwyg/mathDecorations.test.ts
Due: eslint --fix, prettier --write

fix(editor): normalize ordered list indent/outdent numbering
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/editorUtils.test.ts
  src/components/editor/editorUtils.ts
  src/constants/welcomeContent.ts
Due: eslint --fix, prettier --write

feat(editor): toggle task checkboxes directly in live mode
  src/components/editor/extensions/wysiwyg/TaskCheckboxWidget.test.ts
  src/components/editor/extensions/wysiwyg/TaskCheckboxWidget.ts
  src/components/editor/extensions/wysiwyg/buildDecorations.ts
Due: eslint --fix, prettier --write

feat(editor): support in-place live table cell editing
  src/components/editor/extensions/wysiwyg/TableWidget.ts
  src/components/editor/extensions/wysiwyg/buildDecorations.ts
  src/components/editor/extensions/wysiwyg/tableWidget.test.ts
Due: eslint --fix, prettier --write

feat(editor): add structured live table controls and resize panel
  src/components/editor/extensions/wysiwyg/TableWidget.ts
  src/components/editor/extensions/wysiwyg/tableModel.test.ts
  src/components/editor/extensions/wysiwyg/tableModel.ts
  src/components/editor/extensions/wysiwyg/tableWidget.test.ts
Due: eslint --fix, prettier --write

fix(editor): stabilize table undo focus and history behavior
  src/components/editor/extensions/wysiwyg/TableWidget.ts
  src/components/editor/extensions/wysiwyg/tableWidget.test.ts
Due: eslint --fix, prettier --write

docs(config): sync wave 10 memory and agent docs
  AGENTS.md
  MEMORY.md
  src/AGENTS.md
  src/components/AGENTS.md
  src/components/editor/AGENTS.md
  src/components/layout/AGENTS.md
  src/hooks/AGENTS.md
Due: prettier --write

docs(config): refresh backlog status for wave 10
  .docs/project/planning/backlog.md
Due: prettier --write

fix(editor): harden tab accessibility and rename guards
  src/components/editor/TabBar.tsx
Due: eslint --fix, prettier --write

fix(deps): add codemirror language and coverage deps
  package-lock.json
  package.json
Due: none

fix(editor): normalize code block boundary behavior
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/extensions/wysiwyg/CodeBlockWidget.ts
  src/components/editor/extensions/wysiwyg/buildDecorations.ts
  src/components/editor/extensions/wysiwyg/codeBlockArrowNavigationKeymap.ts
  src/components/editor/extensions/wysiwyg/codeBlockArrowNavigationModel.test.ts
  src/components/editor/extensions/wysiwyg/codeBlockArrowNavigationModel.ts
  src/components/editor/extensions/wysiwyg/codeBlockBadge.test.ts
  src/styles/codeblock.css
Due: eslint --fix, prettier --write

docs(config): sync code block behavior docs
  .docs/project/planning/backlog.md
  .docs/project/planning/code-block-live-split-parity-plan.md
  AGENTS.md
  MEMORY.md
  src/AGENTS.md
  src/components/editor/AGENTS.md
  src/components/editor/extensions/AGENTS.md
Due: prettier --write

fix(editor): polish toolbar overflow and split divider behavior
  src/components/editor/EditorToolbar.tsx
  src/components/layout/MainLayout.tsx
Due: eslint --fix, prettier --write

fix(config): standardize tauri imports and split vendor chunks
  src/components/editor/TabBar.tsx
  src/components/editor/editorUtils.ts
  src/utils/tauri.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix(editor): refine code block language arrow transitions
  src/components/editor/extensions/wysiwyg/CodeBlockWidget.ts
  src/components/editor/extensions/wysiwyg/buildDecorations.ts
  src/components/editor/extensions/wysiwyg/codeBlockArrowNavigationModel.test.ts
  src/components/editor/extensions/wysiwyg/codeBlockArrowNavigationModel.ts
  src/components/editor/extensions/wysiwyg/codeBlockBadge.test.ts
Due: eslint --fix, prettier --write

feat(ui): reorder editor modes to live-first cycle (live → split → source)
  src/components/layout/Header.tsx
Due: eslint --fix, prettier --write

feat(ui): apply max-width constraint to preview in split mode
  src/components/preview/MarkdownPreview.tsx
Due: eslint --fix, prettier --write

chore: prettier formatting for MarkdownEditor import order
  src/components/editor/MarkdownEditor.tsx
Due: eslint --fix, prettier --write

docs: update memory and agents for ui-polish wave 1
  AGENTS.md
  MEMORY.md
  src/components/editor/AGENTS.md
  src/components/layout/AGENTS.md
Due: prettier --write

feat(ui): editor mode cycling and responsive preview constraints (#34)
  AGENTS.md
  MEMORY.md
  src/components/editor/AGENTS.md
  src/components/editor/MarkdownEditor.tsx
  src/components/layout/AGENTS.md
  src/components/layout/Header.tsx
  src/components/preview/MarkdownPreview.tsx
Due: eslint --fix, prettier --write

feat(editor): add vim mode toggle with :w/:q/:wq ex commands
  package-lock.json
  package.json
  src/components/editor/MarkdownEditor.tsx
  src/components/settings/SettingsModal.tsx
  src/constants/settingsLimits.ts
  src/types/settings.ts
Due: eslint --fix, prettier --write

feat(editor): vim IME auto-switch for CJK input (macOS)
  src-tauri/src/commands/ime.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/extensions/vimIME.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

docs: update AGENTS.md files with vim mode and IME documentation
  AGENTS.md
  src-tauri/AGENTS.md
  src/components/editor/AGENTS.md
  src/components/editor/extensions/AGENTS.md
  src/components/settings/AGENTS.md
  src/types/AGENTS.md
Due: prettier --write

fix(editor): address vim mode review findings — Ime error variant, :wq ordering, docs
  src-tauri/src/commands/ime.rs
  src-tauri/src/error.rs
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/extensions/vimIME.ts
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

docs: rewrite README with current features and update author to PignuAnte (Ai-Scream)
  README.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier --write

ci: fix CI workflows — activate clippy/vitest, clean build matrix, cache cargo-audit
  .github/workflows/build.yaml
  .github/workflows/quality-lint.yaml
  .github/workflows/quality-test.yaml
  .github/workflows/security-scan.yaml
Due: none

ci(release): add release-please + tauri-action cross-platform release pipeline
  .github/workflows/release-please.yaml
  .github/workflows/release.yaml
  .release-please-manifest.json
  commitlint.config.js
  release-please-config.json
Due: none

ci(release): merge release workflow into release-please — fix GITHUB_TOKEN tag trigger
  .github/workflows/release-please.yaml
  .github/workflows/release.yaml
Due: none

ci: optimize CI triggers — deduplicate runs, skip docs, fix concurrency
  .github/workflows/ci.yaml
Due: none

docs: update AGENTS.md with CI/CD pipeline documentation
  AGENTS.md
Due: prettier --write

fix(rust): resolve clippy errors — cfg-gate Ime variant, remove unnecessary casts
  src-tauri/src/commands/ime.rs
  src-tauri/src/error.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

ci(config): pin Node/Rust versions and align validate script with CI
  .github/workflows/build.yaml
  .github/workflows/quality-lint.yaml
  .github/workflows/quality-test.yaml
  .github/workflows/release-please.yaml
  .github/workflows/security-scan.yaml
  .node-version
  package.json
  src-tauri/rust-toolchain.toml
Due: none

ci: replace full tauri build with cargo check in PR pipeline
  .github/workflows/build.yaml
Due: none

docs: fact-check and sync documentation with CI/CD changes
  AGENTS.md
  MEMORY.md
  src-tauri/AGENTS.md
Due: prettier --write
