Repository ai-screams/BoltDown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

refactor(config): centralize theme tokens and shared constants
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/TabBar.tsx
  src/components/editor/editorUtils.ts
  src/components/editor/extensions/theme.ts
  src/components/editor/extensions/wysiwyg.ts
  src/components/findreplace/FindReplaceModal.tsx
  src/components/layout/Footer.tsx
  src/components/preview/MarkdownPreview.tsx
  src/components/settings/SettingsModal.tsx
  src/components/sidebar/FileTree.tsx
  src/components/sidebar/ResizeHandle.tsx
  src/constants/feedback.ts
  src/constants/file.ts
  src/constants/findReplace.ts
  src/constants/settingsLimits.ts
  src/constants/sidebar.ts
  src/constants/storage.ts
  src/hooks/useDocumentStats.ts
  src/hooks/useExport.ts
  src/hooks/useFileSystem.ts
  src/hooks/useKeyboardShortcuts.ts
  src/index.css
  src/stores/editorStore.ts
  src/stores/findReplaceStore.ts
  src/stores/settingsStore.ts
  src/stores/sidebarStore.ts
  src/stores/tabStore.ts
  src/styles/tokens.css
  src/types/settings.ts
  src/utils/settingsStorage.ts
  src/utils/themeRuntime.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

docs(config): sync AGENTS.md files with latest codebase changes
  AGENTS.md
  src/components/common/AGENTS.md
  src/hooks/AGENTS.md
Due: prettier --write

docs(config): update AGENTS.md files with WYSIWYG and theme changes
  AGENTS.md
  src/components/editor/extensions/AGENTS.md
  src/components/settings/AGENTS.md
  src/hooks/AGENTS.md
Due: prettier --write

style(ui): fix prettier class ordering in ResizeHandle
  src/components/sidebar/ResizeHandle.tsx
Due: eslint --fix, prettier --write

fix(ci): upgrade Node.js from 18 to 22 in all CI workflows
  .github/workflows/build.yaml
  .github/workflows/quality-lint.yaml
  .github/workflows/quality-test.yaml
  .github/workflows/security-scan.yaml
  package.json
Due: none

feat(editor): add hybrid segment scroll sync for split mode
  src/components/layout/MainLayout.tsx
  src/hooks/useSplitScrollSync.ts
  src/utils/markdownConfig.ts
Due: eslint --fix, prettier --write

docs(config): add Phase 3 backlog from PR #28 code review
  docs/phase3-backlog.md
Due: prettier --write

docs(editor): add scroll sync technical reference document
  docs/ref/scroll-sync.md
Due: prettier --write

perf(ui): apply Vercel React best practices for bundle optimization
  src/App.tsx
  src/components/editor/MarkdownEditor.tsx
  src/components/findreplace/FindReplaceModal.tsx
  src/components/preview/MarkdownPreview.tsx
  src/constants/feedback.ts
  src/hooks/useExport.ts
  src/hooks/useMarkdownParser.ts
Due: eslint --fix, prettier --write

fix(ui): apply Web Interface Guidelines compliance fixes
  src/components/common/IconButton.tsx
  src/components/editor/TabBar.tsx
  src/components/findreplace/FindReplaceModal.tsx
  src/components/layout/Header.tsx
  src/components/layout/MainLayout.tsx
  src/components/settings/SettingsModal.tsx
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/OutlinePanel.tsx
  src/components/sidebar/RecentFiles.tsx
  src/components/sidebar/ResizeHandle.tsx
Due: eslint --fix, prettier --write

feat(editor): add cursor-click sync for split view preview
  src/hooks/useSplitScrollSync.ts
Due: eslint --fix, prettier --write

feat(editor): add smooth scroll animation for split view sync
  src/hooks/useSplitScrollSync.ts
Due: eslint --fix, prettier --write

fix(editor): improve scroll sync accuracy around images with DOM-based mapping
  src/hooks/useSplitScrollSync.ts
Due: eslint --fix, prettier --write

docs(editor): update scroll sync technical reference with new features
  docs/ref/scroll-sync.md
Due: prettier --write

docs(config): update AGENTS.md files with scroll sync architecture
  AGENTS.md
  src/hooks/AGENTS.md
Due: prettier --write

refactor(rust): modularize Tauri backend with clean architecture
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/commands/directory.rs
  src-tauri/src/commands/file.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/path.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

fix(ui): resolve 18 Web Interface Guidelines accessibility issues
  index.html
  src/App.tsx
  src/components/editor/TabBar.tsx
  src/components/findreplace/FindReplaceModal.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/settings/SettingsModal.tsx
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

docs(config): update AGENTS.md with Tauri refactor and WIG accessibility
  AGENTS.md
  src-tauri/AGENTS.md
  src/AGENTS.md
  src/components/AGENTS.md
  src/components/editor/AGENTS.md
  src/components/findreplace/AGENTS.md
  src/components/layout/AGENTS.md
  src/components/settings/AGENTS.md
  src/components/sidebar/AGENTS.md
Due: prettier --write

refactor: modularize Tauri backend + fix UI accessibility (#30)
  AGENTS.md
  index.html
  src-tauri/AGENTS.md
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/commands/directory.rs
  src-tauri/src/commands/file.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/path.rs
  src/AGENTS.md
  src/App.tsx
  src/components/AGENTS.md
  src/components/editor/AGENTS.md
  src/components/editor/TabBar.tsx
  src/components/findreplace/AGENTS.md
  src/components/findreplace/FindReplaceModal.tsx
  src/components/layout/AGENTS.md
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/settings/AGENTS.md
  src/components/settings/SettingsModal.tsx
  src/components/sidebar/AGENTS.md
  src/components/sidebar/FileTreeNode.tsx
  src/components/sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, cargo fmt --manifest-path src-tauri/Cargo.toml --

feat(ui): complete Phase 2 with shortcuts, changelog, about modals and find truncation warning
  eslint.config.js
  src/App.tsx
  src/components/about/AboutModal.tsx
  src/components/about/ChangelogModal.tsx
  src/components/findreplace/FindReplaceModal.tsx
  src/components/layout/Header.tsx
  src/components/shortcuts/ShortcutsModal.tsx
  src/constants/changelog.ts
  src/constants/shortcuts.ts
  src/hooks/useKeyboardShortcuts.ts
  src/stores/findReplaceStore.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix(ui): add DOMPurify sanitization across all HTML rendering paths
  package-lock.json
  package.json
  src/components/editor/extensions/wysiwyg.ts
  src/components/preview/MarkdownPreview.tsx
  src/components/settings/SettingsModal.tsx
  src/hooks/useCustomCss.ts
  src/hooks/useExport.ts
  src/hooks/useMarkdownParser.ts
  src/utils/sanitize.ts
Due: eslint --fix, prettier --write

perf(editor): add LRU caching for KaTeX/Mermaid and fix race conditions
  src/components/editor/extensions/wysiwyg.ts
  src/components/preview/MarkdownPreview.tsx
  src/hooks/useAutoSave.ts
  src/utils/cache.ts
  src/utils/markdownConfig.ts
Due: eslint --fix, prettier --write

fix(ui): housekeeping - error logging, depth guard, code cleanup
  docs/phase3-backlog.md
  docs/ref/scroll-sync.md
  src/components/findreplace/FindReplaceModal.tsx
  src/hooks/useExport.ts
  src/stores/settingsStore.ts
  src/stores/sidebarStore.ts
Due: eslint --fix, prettier --write

fix(ui): quick wins - audit fix, shared fileCopy util, cross-platform paths, sidebar UX
  package-lock.json
  src/components/editor/TabBar.tsx
  src/components/sidebar/FileTree.tsx
  src/hooks/useFileSystem.ts
  src/utils/fileCopy.ts
Due: eslint --fix, prettier --write

docs: update AGENTS.md and backlog after Waves 1-6
  .docs/project/planning/backlog.md
  AGENTS.md
  src/components/editor/AGENTS.md
  src/components/editor/extensions/AGENTS.md
  src/components/findreplace/AGENTS.md
  src/components/preview/AGENTS.md
  src/components/settings/AGENTS.md
  src/components/sidebar/AGENTS.md
  src/hooks/AGENTS.md
  src/stores/AGENTS.md
  src/utils/AGENTS.md
Due: prettier --write

refactor(editor): split wysiwyg.ts into per-widget modules + loadSettings separation
  src/components/editor/extensions/wysiwyg.ts
  src/components/editor/extensions/wysiwyg/BlockMathWidget.ts
  src/components/editor/extensions/wysiwyg/BulletWidget.ts
  src/components/editor/extensions/wysiwyg/CodeBlockWidget.ts
  src/components/editor/extensions/wysiwyg/ImageWidget.ts
  src/components/editor/extensions/wysiwyg/InlineMathWidget.ts
  src/components/editor/extensions/wysiwyg/MermaidWidget.ts
  src/components/editor/extensions/wysiwyg/TableWidget.ts
  src/components/editor/extensions/wysiwyg/buildDecorations.ts
  src/components/editor/extensions/wysiwyg/index.ts
  src/components/editor/extensions/wysiwyg/utils.ts
  src/stores/settingsStore.ts
Due: eslint --fix, prettier --write

docs: update AGENTS.md and backlog after Wave 7
  .docs/project/planning/backlog.md
  AGENTS.md
  src/components/editor/extensions/AGENTS.md
  src/stores/AGENTS.md
  src/utils/AGENTS.md
Due: prettier --write

fix(ui): atomic tree data update + backlog fact-check cleanup
  .docs/project/planning/backlog.md
  src/stores/sidebarStore.ts
Due: eslint --fix, prettier --write

fix(config): add runtime type guard for loadRecentFiles
  .docs/project/planning/backlog.md
  src/stores/sidebarStore.ts
Due: eslint --fix, prettier --write

docs: move remaining items to Known Issues, clear backlog
  .docs/project/planning/backlog.md
Due: prettier --write

docs: update AGENTS.md for Wave 8 sidebarStore changes
  src/stores/AGENTS.md
Due: prettier --write

docs: add sanitization and WYSIWYG architecture references
  .docs/ref/sanitization.md
  .docs/ref/wysiwyg-architecture.md
Due: prettier --write

docs: add educational reference guides for CM6, Zustand, and Tauri patterns
  .docs/ref/codemirror6-patterns.md
  .docs/ref/tauri-react-integration.md
  .docs/ref/zustand-patterns.md
Due: prettier --write

docs: sync AGENTS.md, MEMORY.md, and backlog after Wave 8-9
  .docs/project/planning/backlog.md
  AGENTS.md
  MEMORY.md
  src-tauri/AGENTS.md
  src/AGENTS.md
  src/components/AGENTS.md
  src/components/findreplace/AGENTS.md
  src/components/sidebar/AGENTS.md
  src/contexts/AGENTS.md
  src/hooks/AGENTS.md
Due: prettier --write

fix(ui): resolve Cmd+/ shortcut conflict between shortcuts panel and comment toggle
  src/constants/shortcuts.ts
  src/hooks/useKeyboardShortcuts.ts
Due: eslint --fix, prettier --write

fix(editor): fix image widget click selecting wrong text in zen mode
  src/components/editor/extensions/wysiwyg/ImageWidget.ts
Due: eslint --fix, prettier --write

feat(preview): add language badge to split view code blocks
  src/index.css
  src/utils/markdownConfig.ts
Due: eslint --fix, prettier --write

feat(editor): Typora-style code blocks with inline language popover
  src/components/editor/extensions/wysiwyg/CodeBlockWidget.ts
  src/components/editor/extensions/wysiwyg/buildDecorations.ts
  src/styles/codeblock.css
Due: eslint --fix, prettier --write

feat(editor): add fence language autocomplete for code blocks
  package-lock.json
  package.json
  src/components/editor/MarkdownEditor.tsx
  src/components/editor/extensions/fenceLanguageCompletion.ts
  src/components/editor/extensions/wysiwyg/CodeBlockWidget.ts
  src/styles/codeblock.css
Due: eslint --fix, prettier --write

fix(editor): improve code block language popover accessibility
  src/components/editor/extensions/wysiwyg/CodeBlockWidget.ts
  src/styles/codeblock.css
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{css,json})) or (any of: *.md)
  cargo fmt --manifest-path src-tauri/Cargo.toml --: any of: src-tauri/src/**/*.rs
